*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    min-height: 100vh;
    width: 100%;
}

#main{
    min-height: 100vh;
    width: 100%;
    background-color: red;
}

#top{
    min-height: 60vh;
    width: 100%;
    
    background-image: url('https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: 50% 60%;

}

#overlay{
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.386);
    position: relative;
}

#text{
    width: 100%;
    position: absolute;
    bottom: 20%;
    padding: 0 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}


#textright{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    opacity: .6;

}

#textright i{
    color: #fff;
    font-size: 20px;
}

#textright p{
    font-size: 12px;
    width: 30%;
}

#text h1{
    font-size: 5vw;
    /* color: white; */
    font-weight: 500;
}

#bottom{
    min-height: 40vh;
    width: 100%;
    background-color: yellow;
    display: flex;
}

#bone{
    width: 25%;
    min-height: inherit;
    background-color: white;
    padding: 70px 7vw;
}

#bone h3{
    font-weight: 300;
    margin-bottom: 30px;
}

#bone p{
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
}

#btwo{
    width: 25%;
    min-height: inherit;
    background-image: url('https://images.unsplash.com/photo-1461435218581-ff0972867e90?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top;

}

#bthree{
    width: 20%;
    min-height: inherit;
}

#bthreetop{
    width: 100%;
    min-height: 20vh;
    background-color: rgb(255, 25, 0);
    color: #fff;
    padding: 70px 3.5vw;
}

#bthreetop h3{
    margin-bottom: 30px;
}

#bthreetop p{
    line-height: 25px;
}


#bthreebottom{
    width: 100%;
    min-height: 20vh;

    background-image: url('https://images.unsplash.com/photo-1516368694098-47836cebec97?q=80&w=1901&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top;

}

#bfour{
    width: 30%;
    min-height: inherit;
    background-color: #272727;
    color: #fff;
    padding: 70px  7vw;
    padding-left: 7vw;
}

.notf{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.notf #photo{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
    background-image: url('https://images.unsplash.com/photo-1524504388940-b1c1722653e1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.notf p{
    width: 75%;
    opacity: .6;
}


@media(max-width : 500px){
    #overlay #text{
        flex-direction:  column;
        align-items: flex-start;
    }

    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }
    #textright p{
        width: initial;
        margin-top: 20px;
    }

    #overlay #text #textright .icons{
        margin-top: 30px;
    }

    #text h1{
        font-size: 10vw;
    }

    #bottom{
        flex-direction: column;
        min-height: 20vh;
    }

    #bone{
        width : 100%;
    }

    #btwo{
        width : 100%;
        min-height: 40vh;
    }

    #bthree{
        width : 100%;
        flex-direction: column;
    }

    #bthreebottom{
        min-height: 40vh;
    }

    #bfour{
        width : 100%;        
    }
}